---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer">About&nbsp;&nbsp;<i class="fa fa-info-circle text-fg"></i></a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Gallery Section -->
<div id="main" data-exif='{{ site.exif }}'>
  <div class="gallery-grid">

    <!-- Gallery 1 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-menomoneefalls/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-menomoneefalls/IMG_1854.jpg" alt="Slinger Vs. Menomonee Falls — 08/22/25"/>
      </a>
      <h2>Slinger Vs. Menomonee Falls — 08/22/25</h2>
    </article>

    <!-- Gallery 2 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-hartford/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-hartford/IMG_3686.jpg" alt="Slinger Vs. Hartford — 09/05/25"/>
      </a>
      <h2>Slinger Vs. Hartford — 09/05/25</h2>
    </article>

    <!-- Gallery 3 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-westbendwest/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-westbendwest/IMG_4906.jpg" alt="Slinger Vs. West Bend West — 09/12/25"/>
      </a>
      <h2>Slinger Vs. West Bend West — 09/12/25</h2>
    </article>

    <!-- Gallery 4 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/powderpuff/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/powderpuff/IMG_7002.jpg" alt="Powderpuff — 09/17/25"/>
      </a>
      <h2>Powderpuff — 09/17/25</h2>
    </article>

    <!-- Gallery 5 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-nicolet/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-nicolet/IMG_9972.jpg" alt="Slinger Vs. Nicolet — 09/19/25"/>
      </a>
      <h2>Slinger Vs. Nicolet — 09/19/25</h2>
    </article>

    <!-- Gallery 6 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/spanishclub-vs-germanclub-soccergame/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/spanishclub-vs-germanclub-soccergame/IMG_0721.jpg" alt="Spanish Club Vs. German Club Soccer Game — 09/25/25"/>
      </a>
      <h2>Spanish Club Vs. German Club Soccer Game — 09/25/25</h2>
    </article>

    <!-- Gallery 7 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-whitefishbay/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-whitefishbay/IMG_1317.jpg" alt="Slinger Vs. Whitefish Bay — 09/26/25"/>
      </a>
      <h2>Slinger Vs. Whitefish Bay — 09/26/25</h2>
    </article>

    <!-- Gallery 8 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-westbendeast/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-westbendeast/IMG_3108.jpg" alt="Slinger Vs. West Bend East — 10/03/25"/>
      </a>
      <h2>Slinger Vs. West Bend East — 10/03/25</h2>
    </article>

    <!-- Gallery 9 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-homestead/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-homestead/IMG_3784.jpg" alt="Slinger Vs. Homestead — 10/10/25"/>
      </a>
      <h2>Slinger Vs. Homestead — 10/10/25</h2>
    </article>

    <!-- Gallery 10 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-cedarburg/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-cedarburg/IMG_6971.jpg" alt="Slinger Vs. Cedarburg — 10/17/25"/>
      </a>
      <h2>Slinger Vs. Cedarburg — 10/17/25</h2>
    </article>

    <!-- Gallery 11 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-westbendwest2/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-westbendwest2/IMG_8897.jpg" alt="Slinger Vs. West Bend West — 10/24/25"/>
      </a>
      <h2>Slinger Vs. West Bend West — 10/24/25</h2>
    </article>

    <!-- Gallery 12 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-notredameacademy/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-notredameacademy/IMG_9978.jpg" alt="Slinger Vs. Notre Dame Academy — 10/31/25"/>
      </a>
      <h2>Slinger Vs. Notre Dame Academy — 10/31/25</h2>
    </article>

    <!-- Gallery 13 -->
    <article class="thumb">
      <a href="{{ site.baseurl }}/images/fulls/slinger-vs-cedarburg2/" class="image">
        <img src="{{ site.baseurl }}/images/thumbs/slinger-vs-cedarburg2/IMG_1731.jpg" alt="Slinger Vs. Cedarburg — 12/05/25"/>
      </a>
      <h2>Slinger Vs. Cedarburg — 12/05/25</h2>
    </article>

  </div>
</div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section>
                    <h2>Sponsor</h2>
                    <div class="presentify">
                        <div class="presentify-logo">
                            <a href="https://presentifyapp.com">
                                <img src="https://raw.githubusercontent.com/rampatra/assets/refs/heads/main/Presentify/Icons/icon_512.png"
                                 alt="presentify-logo" />
                            </a>
                        </div>
                        <div class="presentify-text">
                            Turn your screen into a canvas when on video calls and articulate your thoughts better than
                            ever with the <a href="https://presentifyapp.com">Presentify</a> app.
                        </div>
                    </div>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        {% if site.social_urls.facebook %}
                            <li>
                                <a href="{{ site.social_urls.facebook }}" class="icon brands fa-facebook">
                                    <span class="label">Facebook</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon brands fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon brands fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.dribbble %}
                            <li>
                                <a href="{{ site.social_urls.dribbble }}" class="icon brands fa-dribbble">
                                    <span class="label">Dribbble</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon brands fa-github">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.linkedin %}
                            <li>
                                <a href="{{ site.social_urls.linkedin }}" class="icon brands fa-linkedin">
                                    <span class="label">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="text" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>
</div>
